* {
  background-color: rgb(245, 137, 196);
}

.close {
  right: 75%;
  width: 25px;
  opacity: 1;
  height: 25px;
  color: blue;
  border: black 2px solid;
}

.list {
  margin: 0px 80px;
  display: flex;
  flex-flow: row wrap;
}

.button-class {
  display: flex;
  flex-direction: row;
}

button a {
  height: 30px;
  width: fit-content;
}

.name {
  font-size: 40px;
  color: white;
  justify-content: center;
  text-align: center;
}

.container {
  max-width: 300px !important;
  margin: 20px 60px 0px 60px;
  padding: 40px 300px;
  font-weight: bold;
}

.box {
  background-image: transparent;
  color: yellow;
  margin: 10px 70px;
  font-weight: bold;
  padding: 0px 70px;
  height: 80px;
  display: flex;
  justify-content: center;
}

header {
  padding-top: 30px;
  color: white;
  text-align: center;
}

img {
  height: 200px;
  width: 200px;
  margin: 0px 0px 25px 40px;
  box-shadow: 10px 10px 5px grey;
}

.delete {
  background-color: black;
  color: white;
  border: black solid 1px;
  border-radius: 7px;
  padding: 7px;
}

.binstructions {
  background-color: green;
  color: white;
  border: green solid 1px;
  border-radius: 7px;
  padding: 7px;
}

.update {
  background-color: rgb(137, 159, 245);
  color: white;
  border: rgb(137, 159, 245) solid 1px;
  border-radius: 7px;
  padding: 7px;
}

.create {
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 25px;
  font-weight: bold;
  background-color: darkcyan;
  border-radius: 10px;
  box-shadow: rgb(58, 57, 57) 15px 10px 10px;
}

.create-div {
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 45px;
  font-style: italic;
}
