/* font-family: 'IM Fell English', serif;
font-family: 'Mitr', sans-serif; */

* {
  background-color: white;
}

.close {
  right: 85%;
  width: 45px;
  opacity: 1;
  height: 20px;
}

.list {
  margin: 0px 60px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.button-class {
  display: flex;
  flex-direction: row;
}

button a {
  height: 30px;
  width: fit-content;
}

.name {
  font-size: 30px;
  color: black;
  font-weight: 200;
  font-family: "Mitr", sans-serif;
  justify-content: center;
  text-align: center;
}

.drinklayout {
  margin: 3%;
}

.popup-content {
  text-align: left;
  margin-left: 10%;
  margin-right: 5%;
}

.drink-name {
  text-align: center;
}

/* .closemodal {
  color: black;
  display: block;
  z-index: 99;
} */

header {
  padding-top: 30px;
  color: black;
  text-align: center;
}

img {
  height: 200px;
  width: 200px;
  margin: 6% 15%;
}

.btn-delete {
  color: black;
  border: black solid 2px;
  padding: 7px;
}

.btn-delete:hover {
  background-color: black;
  color: white;
}

.btn-instructions {
  color: black;
  border: green solid 2px;
  padding: 7px;
  margin: 0% 2%;
}

.btn-instructions:hover {
  background-color: green;
  color: white;
}

.btn-update {
  color: black;
  border: rgb(137, 159, 245) solid 2px;
  padding: 7px;
}

.btn-update:hover {
  background-color: rgb(137, 159, 245);
  color: white;
}

.create {
  border: rgb(95, 96, 99) solid 2px;
  color: black;
  padding: 10px 20px;
  font-size: 25px;
  font-weight: bold;
  border-radius: 2px;
  box-shadow: rgb(58, 57, 57) 15px 10px 10px;
}

.create:hover {
  background-color: black;
  color: white;
}

.create-div {
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
}

h1 {
  color: black;
  font-size: 105px;
  font-weight: 600;
  font-family: "Mitr", sans-serif;
  padding: 40px 0px;
}

a:hover a:visited a:link a:active {
  text-decoration: none !important;
}

p {
  font-size: 18px;
  padding-bottom: 3%;
  
}
.instructions {
  text-align: left;
  margin-bottom: 5%;
}
form {
  padding: 10% 0% 0% 30%;
}

input {
  width: 40%;
  border: black solid 1px;
}

.submit-btn {
  width: 15%;
  background-color: black;
  color: yellow;
  border: solid black 1px;
}

