/* font-family: 'IM Fell English', serif;
font-family: 'Mitr', sans-serif; */

* {
  background-color: white;
}

.close {
  right: 75%;
  width: 25px;
  opacity: 1;
  height: 25px;

  border: black 2px solid;
}

.list {
  margin: 0px 60px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.button-class {
  display: flex;
  flex-direction: row;
}

button a {
  height: 30px;
  width: fit-content;
}

.name {
  font-size: 30px;
  color: black;
  font-weight: 200;
  font-family: "Mitr", sans-serif;
  justify-content: center;
  text-align: center;
}

.drinklayout {
  margin: 3%;
}

.box {
  background-image: transparent;
  color: black;
  font-family: "Mitr, sans-serif";
  margin: 10px 70px;
  font-size: 25px;
  font-weight: 400;
  padding: 0px 70px;
  height: 80px;
  display: flex;
  justify-content: center;
}

header {
  padding-top: 30px;
  color: black;
  text-align: center;
}

img {
  height: 200px;
  width: 200px;
  margin: 6% 15%;
}

.btn-delete {
  color: black;
  border: black solid 2px;
  padding: 7px;
}

.btn-delete:hover {
  background-color: black;
  color: white;
}

.btn-instructions {
  color: black;
  border: green solid 2px;
  padding: 7px;
}

.btn-instructions:hover {
  background-color: green;
  color: white;
}

.btn-update {
  color: black;
  border: rgb(137, 159, 245) solid 2px;

  padding: 7px;
}

.btn-update:hover {
  background-color: rgb(137, 159, 245);
  color: white;
}

.create {
  border: rgb(95, 96, 99) solid 2px;
  color: black;
  padding: 10px 20px;
  font-size: 25px;
  font-weight: bold;
  border-radius: 2px;
  box-shadow: rgb(58, 57, 57) 15px 10px 10px;
}

.create:hover {
  background-color: black;
  color: white;
}


.create-div {
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
}


h1 {
  color: black;
  font-size: 105px;
  font-weight: 600;
  font-family: "Mitr", sans-serif;

  padding: 40px 0px;
}

a:hover a:visited a:link a:active {
  text-decoration: none !important;
}

p {
  font-size: 18px;
padding-bottom: 3%;
}
