* {
  background-color: pink;
}
.close{
  right: 75%;
  width: 25px;
  opacity: 0;
  height: 25px;
  color: blue;
  border: black 2px solid;
}


.list {
  margin: 0px 80px;
  display: flex;
  flex-flow: row wrap;
}

.button-class {
  display: flex;
  flex-direction: row;
}

button a {
  height: 30px;
  width: fit-content;
}


div {
  font-size: 25px;
  display: grid;
}

.container {
  display: grid;
  flex-direction: row;
  /* width: 50px; */
  margin: 20px 60px 0px 60px;
  padding: 40px 300px;
  align-items: center;
  font-weight: bold;
}

.box {
  background-image: transparent;
  color: black;
  margin: 10px 70px;
  font-weight: bold;
  padding: 0px 60px;
  height: 80px;
  display: flex;
  justify-content: flex-end;
}

header {
  padding-top: 30px;
  color: #0074d9;
  text-align: center;
}

img {
  height: 300px;
  width: 300px;
  margin-bottom: 25px;
  box-shadow: 10px 10px 5px grey;
}
